* {
  background-color: #f7babf;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

.title {
  flex: 1;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 1rem;
}

.header a {
  text-decoration: none;
  cursor: pointer;
}
